{% extends "user/profile/base.htm" %}

{% block title %}{{ user.name }} {{  _('activities') }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <legend>{{ _('Activities') }}</legend>

                <h5>{{ _('Registered activities') }} <small>{{ '(' ~ len(new_activities) ~ ')' }}</small></h5>

                {% for result in new_activities %}
                    <a href="{{ url_for('activity.get_activity', activity=result) }}">
                        {{ result.name }}
                    </a>
                    <br>
                {% endfor %}

                <h5>{{ _('Attended activities') }} <small>{{ '(' ~ len(old_activities) ~ ')' }}</small></h5>

                {% for result in old_activities %}
                    <a href="{{ url_for('activity.get_activity', activity=result) }}">
                        {{ result.name }}
                    </a>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
