{% extends "user/profile/base.htm" %}

{% from "user/macros/uvanetid.htm" import render_uvanetid_signin_button %}

{% macro render_student_info(f) %}
    {{ ignore_kwargs(kwargs) }}

    <legend>{{ _("UvA student information") }}</legend>
    {% if user.student_id_confirmed %}
        <span class="badge badge-pill badge-info text-wrap">
            <i class="fas fa-exclamation-circle"></i>
            {% if current_user.id == user.id %}
            {{ _('This information is linked to your UvA account.') }}
            {% else %}
            {{ _('This information is linked to the user\'s UvA account.') }}
            {% endif %}
        </span>
        <ul class="list-group mt-2">
            <li class="list-group-item">
                <b>{{ _("Student ID") }}</b>:
                {{ user.student_id }}
            </li>
            <li class="list-group-item">
                <b>{{ _('Study programmes') }}</b>:
                {% for education in user.educations -%}
                    {{ get_education_name(education, get_locale()) }}
                    {%- if not loop.last -%}, {% endif -%}
                {%- endfor -%}
            </li>
        </ul>
    {% else %}
        <div class="form-group">
            {{ render_field(unconfirmed_student_id_form.student_id) }}
            {{ render_select_field(unconfirmed_student_id_form.educations, multiple=True) }}
        </div>
    {% endif %}
{% endmacro %}

{% from "macros/form.htm" import render_form, render_field, render_checkbox,
 render_submit, render_vsplit, render_field, render_select_field, ignore_kwargs with context %}

{% macro render_before_hook(f) %}
    {%- if f.name == 'register_split' -%}
        <legend>{{ _('Register') }}</legend>
    {%- elif f.name == 'optional_split' -%}
        <legend>{{ _('Optional data') }}</legend>
    {%- endif -%}
{% endmacro %}

{% macro check_user_admin(f) %}
    {%- if f.name == 'admin_split' and is_admin -%}
        <legend>{{ _('Admin data') }}</legend>
        {{ render_vsplit(f, **kwargs) }}
    {%- elif f.name != 'admin_split' -%}
        {{ render_vsplit(f, **kwargs) }}
    {%- endif -%}
{% endmacro %}

{% macro check_user_paid(f) %}
    {%- if f.name == 'alumnus' and user.has_paid -%}
        <legend>{{ _('I have finished studying') }}</legend>
        {{ render_checkbox(f, **kwargs) }}
    {%- elif f.name != 'alumnus' -%}
        {{ render_checkbox(f, **kwargs) }}
    {%- endif -%}
{% endmacro %}


{% macro render_avatar(f) %}
    {{ render_field(f, **kwargs) }}
    {% if user.has_avatar %}
        <div id="avatar-container">
            <label>{{ _('Current avatar') }}:</label>
            <img class="mb-3" src="{{ url_for('user.view_avatar', user=user) }}" alt="avatar"/>
            <button type="button" id="remove-avatar" class='btn btn-sm btn-danger'>{{_('Delete avatar')}}</button>
        </div>
    {% endif %}
{% endmacro %}


{% block title %}{{ user.name}}{% endblock %}
{% block content %}
    {% set autocomplete = 'off' if user.id != current_user.id else 'on' %}
    {{ render_form(form, form_name="sign_up", submit_text=_('Save'),
                   render_before_hook=render_before_hook,
                   extra_field_renderers={
                       'FieldVerticalSplit': check_user_admin,
                       'BooleanField': check_user_paid,
                       'FileField': render_avatar
                   }, autocomplete=autocomplete) }}
{% endblock %}

{% block post_main_include %}
    {% if user.has_avatar %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                document.querySelector('#remove-avatar')
                    .addEventListener('click', function(event) {
                        fetch("{{ url_for('user.remove_avatar', user=user) }}", {
                            method: 'DELETE',
                        }).then(function(result) {
                            document.querySelector("#avatar-container").remove();
                        }).catch(function(result) {
                            alert("{{ _('Something went wrong.') }}");
                        });
                    });
            });
        </script>
    {% endif %}
{% endblock %}
