{% extends "base.htm" %}

{% from "macros/form.htm" import render_field, render_form %}

{% macro render_before_hook(field) %}
{%- if field.name == 'title' and not new -%}
    <label>{{ _('Amount of courses:') }}</label>
    {% if course_count == 0 %}
    {{ _('None') }}
    {% else %}
    <a href="/examination?search={{ education.name }}" class="view-results btn btn-sm btn-primary" style="margin-left: 20px">
        <span class="badge badge-inverse">{{ course_count }}</span>
        {{ _('view') }}
    </a>
    {% endif %}
{%- endif -%}

{% endmacro %}

{% macro render_submit() %}
    <div class="control-group">
        <div class="controls btn-group">
            <button type="submit" class="btn btn-success">
                <i class="fas fa-check"></i>
                {% if new -%}
                {{_('Add')}}
                {%- else -%}
                {{_('Save')}}
                {%- endif -%}
            </button>
            {% if not new and course_count == 0 %}
            <a onclick="confirmation()" role="button" class="btn btn-danger">
                <i class="fas fa-trash"></i> {{ _('Delete' )}}
            </a>
            {% endif %}
            <a href="{% if 'origin' in session -%}
            {{ session['origin'] }}
            {%- else -%}
            {{url_for('education.add_education')}}
            {%- endif -%}" class='btn btn-primary'>
                <i class="fas fa-arrow-left"></i> {{_('Back')}}
            </a>
        </div>
    </div>
{% endmacro %}

{% block title -%}
    {%- if new -%}
    {{_('New education')}}
    {%- else -%}
    {{_('Edit education')}}
    {%- endif -%}
{%- endblock %}

{%block page %}

<legend>
    {%- if new -%}
    {{_('New education')}}
    {%- else -%}
    {{_('Edit education')}}
    {%- endif -%}
</legend>

{{ render_form(form, render_before_hook=render_before_hook,
                submit_renderer=render_submit) }}

{% if not new and course_count == 0 %}
<script>
function confirmation() {
    var answer = confirm("{{ _("Are you sure you want to delete this education?") }}")
    if (answer){
        window.location = '?delete&redir=
        {%- if redir -%}
            {{ redir }}
        {%- else -%}
            educations
        {%- endif -%}'
    }
}
</script>
{% endif %}
{% endblock %}
