<template lang="pug">
loading-container(:active="loading")
    a-breadcrumb
        a-breadcrumb-item
            a(href="/") {{ $t('breadcrumb.index') }}
        a-breadcrumb-item
            router-link(:to="{ name: 'committee-overview' }") {{ $t('breadcrumb') }}
        a-breadcrumb-item(v-if="id") {{ $t('title.edit') }}
        a-breadcrumb-item(v-if="!id") {{ $t('title.create') }}

    h1(v-if="id") {{ $t('title.edit') }}
    h1(v-if="!id") {{ $t('title.create') }}

    a-form(:form="form", @submit.prevent="save")
        a-form-item(v-bind="formItemLayout", :label="$t('nl_name.label')")
            a-input(
                v-decorator="['nl_name', { rules: [{ required: true, message: $t('nl_name.error')}] }]"
            )

        a-form-item(v-bind="formItemLayout", :label="$t('en_name.label')")
            a-input(
                v-decorator="['en_name', { rules: [{ required: true, message: $t('en_name.error')}] }]"
            )

        a-form-item(
            v-bind="formItemLayout",
            :label="$t('nl_description.label')",
            :extra="$t('nl_description.extra')"
        )
            a-input(
                v-decorator="['nl_description', { rules: [{ required: true, message: $t('nl_description.error')}] }]"
            )

        a-form-item(
            v-bind="formItemLayout",
            :label="$t('en_description.label')",
            :extra="$t('en_description.extra')"
        )
            a-input(
                v-decorator="['en_description', { rules: [{ required: true, message: $t('en_description.error')}] }]"
            )

        a-form-item(
            v-bind="formItemLayout",
            :label="$t('coordinator.label')",
            :extra="$t('coordinator.extra')"
        )
            form-user-field(
                v-decorator="['coordinator', {rules: [{required: true, message: $t('coordinator.error')}]}]"
            )
        a-form-item(
            v-bind="formItemLayout",
            :label="$t('group.label')",
            :extra="$t('group.extra')"
        )
            form-group-field(
                v-decorator="['group', {rules: [{required: true, message: $t('group.error')}]}]"
            )

        a-form-item(
            v-bind="formItemLayout",
            :label="$t('page.label')",
            :extra="$t('page.extra')"
        )
            form-page-field(
                v-decorator="['page', {rules: [{required: true, message: $t('page.error')}]}]"
            )

        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 5 } } }",
            :extra="$t('coordinator_interim.extra')"
        )
            a-checkbox(
                v-decorator="['coordinator_interim', {valuePropName: 'checked', initialValue: false}]"
            ) {{ $t('coordinator_interim.label') }}

        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 5 } } }",
            :extra="$t('open_new_members.extra')"
        )
            a-checkbox(
                v-decorator="['open_new_members', {valuePropName: 'checked', initialValue: false}]"
            ) {{ $t('open_new_members.label') }}

        a-form-item(
            v-bind="formItemLayout",
            :label="$t('tags.label')",
            :extra="$t('tags.extra')"
        )
            form-committee-tag-field(
                v-decorator="['tags', {rules: [{required: true, message: $t('tags.error')}]}]"
            )

        a-form-item(
            v-bind="formItemLayout",
            :label="$t('pressure.label')",
            :extra="$t('pressure.extra')"
        )
            a-input-number(
                :min="1",
                :max="5",
                v-decorator="['pressure', { initialValue: 1, rules: [{ required: true, message: $t('pressure.error') }] }]"
            )

        a-form-item(
            v-bind="formItemLayout",
            :label="$t('image.label')",
            :extra="$t('image.extra')"
        )
            image-cropper-modal(
                :currentFilePath="currentPictureUrl",
                :initialAspectRatio="16 / 10",
                :aspectRatio="16 / 10",
                @blob="pictureBlobSet"
            )

        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 5 } } }"
        )
            a-button-group
                a-button(type="primary", html-type="submit") {{ $t('submit') }}
                a-popconfirm(
                    v-if="id",
                    :title="$t('delete.warning')",
                    ok-text="Yes",
                    cancel-text="No",
                    @confirm="deleteConfirmed"
                )
                    a-button(href="#", type="danger") {{ $t('delete') }}
</template>

<script lang="ts">
import Vue from "vue";
import { validateAntForm } from "../../utils/form";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import { Component } from "vue-property-decorator";
import { committeeApi } from "../../scripts/api/committee";
import LoadingContainer from "../loading_container.vue";
import {
    Breadcrumb,
    Button,
    Checkbox,
    Form,
    Input,
    InputNumber,
    Popconfirm,
    Radio,
} from "ant-design-vue";
import FormUserField from "../form/form_user_field.vue";
import FormGroupField from "../form/form_group_field.vue";
import FormPageField from "../form/form_page_field.vue";
import VueCropper from "vue-cropperjs/dist/VueCropper";
import ImageCropperModal from "../form/image_cropper_modal.vue";
import Flask from "../../utils/flask";
import FormCommitteeTagField from "./form_committee_tag_field.vue";

@Component({
    components: {
        "loading-container": LoadingContainer,
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-input": Input,
        "a-input-number": InputNumber,
        "a-radio-group": Radio.Group,
        "a-radio-button": Radio.Button,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-checkbox": Checkbox,
        "a-popconfirm": Popconfirm,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "vue-cropper": VueCropper,
        "form-user-field": FormUserField,
        "form-group-field": FormGroupField,
        "form-page-field": FormPageField,
        "image-cropper-modal": ImageCropperModal,
        "form-committee-tag-field": FormCommitteeTagField,
    },
})
export default class EditCommittee extends Vue {
    private loading = true;
    private form: WrappedFormUtils | null = null;
    private formItemLayout = {
        labelCol: {
            xs: { span: 24 },
            sm: { span: 5 },
        },
        wrapperCol: {
            xs: { span: 24 },
            sm: { span: 19 },
        },
    };
    private currentPictureUrl: string | null = null;
    private pictureBlob: Blob | null = null;

    created() {
        this.form = this.$form.createForm(this);
    }

    async mounted() {
        if (this.id) {
            const resp = (await committeeApi.getCommittee(this.id)).data;
            const user = resp.coordinator;
            this.form!.setFieldsValue({
                en_name: resp.name.en,
                nl_name: resp.name.nl,
                en_description: resp.description.en,
                nl_description: resp.description.nl,
                coordinator: {
                    key: user.id,
                    label: `${user.first_name} ${user.last_name} (${user.email})`,
                },
                group: {
                    key: resp.group.id,
                    label: resp.group.name,
                },
                page: {
                    key: resp.page.id,
                    label: resp.page.path,
                },
                coordinator_interim: resp.coordinator_interim,
                open_new_members: resp.open_new_members,
                pressure: resp.pressure,
                tags: resp.tags.map((tag) => ({
                    key: tag.id.toString(),
                    label: tag.name[this.$viaduct.locale],
                })),
            });

            this.currentPictureUrl = resp.picture_file_id
                ? Flask.url_for("vue.committee_picture", { committee: this.id })
                : null;

            this.$forceUpdate();
        }
        this.loading = false;
    }

    get id() {
        return parseInt(this.$route.params.committeeId) || 0;
    }

    private async save() {
        let values;
        try {
            values = await validateAntForm(this.form!);
        } catch (e) {
            return; // Form didn't validate
        }

        try {
            this.loading = true;

            let data = {
                name: {
                    en: values.en_name,
                    nl: values.nl_name,
                },
                description: {
                    en: values.en_description,
                    nl: values.nl_description,
                },
                coordinator: {
                    id: values.coordinator.key,
                },
                group: {
                    id: values.group.key,
                },
                page: {
                    id: values.page.key,
                },
                coordinator_interim: values.coordinator_interim,
                open_new_members: values.open_new_members,
                pressure: values.pressure,
                tags: values.tags.map((tag) => ({
                    id: parseInt(tag.key),
                })),
            };

            let newId = 0;
            if (!this.id) {
                newId = (await committeeApi.createCommittee(data)).data.id;
            } else {
                await committeeApi.updateCommittee(this.id, data);
            }

            if (this.pictureBlob) {
                await committeeApi.setCommitteePicture(
                    this.id || newId,
                    this.pictureBlob
                );
                this.pictureBlob = null;
            }

            if (newId) {
                await this.$router.replace({
                    name: "committee-edit",
                    params: { committeeId: String(newId) },
                });
            }

            this.$notification.success({
                message: "Success",
                description: "Committee successfully saved.",
            });
        } catch (e) {
            console.error(e);
            this.$notification.error({
                message: this.$t("submit.error.title") as string,
                description: this.$t("submit.error") as string,
            });
        } finally {
            this.loading = false;
        }
    }

    public async deleteConfirmed() {
        if (this.id) {
            await committeeApi.deleteCommittee(this.id);
            await this.$router.push({ name: "committee-overview" });
        }
    }

    public pictureBlobSet(blob: Blob | null) {
        this.pictureBlob = blob;
    }
}
</script>

<i18n src="./committee.json"></i18n>
