{% extends "base/en.html" %}

{% block title -%}
    {{ ex_tutor }} has withdrawn from the tutoring request for {{ tutoring.tutee.name }}.
{%- endblock %}

{% block content -%}
    <p>
        <b>{{ ex_tutor }}</b> has withdrawn from the tutoring request for <b>{{tutoring.course.name}}</b> by <b>{{ tutoring.tutee.name }}</b>.
    </p>
{%- endblock %}
