<a-breadcrumb v-cloak="">
    <a-breadcrumb-item>
        <a href="{{ url_for("home.home") }}">{{ _('Home') }}</a>
    </a-breadcrumb-item>
    {% for tracker in backtrack %}
        <a-breadcrumb-item>
            <a href="{{ tracker.href }}">{{ tracker.title }}</a>
        </a-breadcrumb-item>
    {% endfor %}
</a-breadcrumb>
