{% extends "base/en.html" %}

{% block title -%}
    Password reset requested
{%- endblock %}

{% block content -%}
    To reset your <b>via</b> account password click on the following link.
    Please note that reset link will expire in 1 hour.<br>
    <br>
    If you didn't issue a password reset you can safely ignore this email.<br>
    <br>
    <a href="{{ reset_link }}">{{ reset_link }}</a><br>
{%- endblock %}
