.dropdown-menu-activity span {
    max-width: 230px;
    margin-right: 100px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.side-menu {
    word-break: break-all;

    .card {
        border-radius: 0px;
    }

    .card-header,
    .list-group-item,
    .list-group-item a {
        padding: 5px 5px 5px 10px;
        color: black;
    }
}
