<template lang="pug">
div
    a-breadcrumb
        a-breadcrumb-item
            a(href="/admin") Admin
        a-breadcrumb-item
            router-link(
                :to="{ name: 'group-overview' }",
                v-slot="{ href, navigate}"
            )
                a(:href="href", @click="navigate") Groups
        a-breadcrumb-item Users
    h1 {{ header }}
    a-input-search.w-100(placeholder="Search users", v-model="search")
    a-table.mt-3(
        :columns="columns",
        :rowKey="(entry) => entry.id",
        :row-selection="{ selectedRowKeys: selectedUsers, onChange: onSelectChange }",
        :dataSource="users",
        :pagination="pagination",
        :loading="loading",
        :bodyStyle="{ 'overflow-x': 'auto' }",
        @change="handleTableChange"
    )
        template(v-slot:status="record")
            a-tag(color="blue", v-if="record.member") Member
            a-tag(color="blue", v-if="record.favourer") Favourer
    a-button-group
        a-button(
            type="primary",
            @click="addUsersBtn",
            :disabled="!canAddUsers"
        )
            a-icon(type="plus")
            | Add
        a-button(type="danger", @click="removeUser", v-if="!addingUsers")
            a-icon(type="delete")
            | Remove
        router-link.float-right(to="/groups/", v-slot="{ href, navigate}")
            a-button(:href="href", @click="navigate", v-if="!addingUsers")
                | Back
            a-button(@click="backBtn", v-else)
                | Back
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import { User } from "../../types/user";
import { groupApi } from "../../scripts/api/group";
import { VuePaginatedAnt } from "../../utils/VuePaginatedAnt";
import { userApi } from "../../scripts/api/user";
import { PaginatedResponse } from "../../scripts/api/api";
import { authStore } from "../../store/auth";
import { Breadcrumb, Button, Icon, Input, Table, Tag } from "ant-design-vue";

@Component({
    name: "group-user-overview",
    components: {
        "a-input-search": Input.Search,
        "a-table": Table,
        "a-button-group": Button.Group,
        "a-button": Button,
        "a-icon": Icon,
        "a-tag": Tag,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
    },
})
export default class GroupUserOverview extends VuePaginatedAnt {
    groupName = "";
    usersInGroup: User[] = [];
    usersAvailable: User[] = [];

    selectedUsers: number[] = [];
    addingUsers = false;

    private columns = [
        { title: "E-mail address", dataIndex: "email" },
        { title: "First name", dataIndex: "first_name" },
        { title: "Last name", dataIndex: "last_name" },
        { title: "Student ID", dataIndex: "student_id" },
        {
            title: "Member / Favourer",
            key: "status",
            scopedSlots: { customRender: "status" },
        },
    ];

    private canAddUsers = false;

    get groupId(): string {
        return this.$route.params.groupId;
    }

    async mounted(): Promise<void> {
        const resp = await groupApi.getGroup(this.groupId);
        this.groupName = resp.data.name;

        await this.checkPermission();
        await this.refreshListView();
    }

    private async checkPermission() {
        const role = authStore.roles.USER_WRITE;

        if (role?.needs_tfa) {
            this.$notification.warning({
                message: "Two-factor authentication required",
                description:
                    "You need two-factor authentication enabled to add people to this group.",
                duration: 0,
            });
        } else if (!role?.has_role) {
            this.$notification.warning({
                message: "Additional permissions required",
                description:
                    "You don't have permission to add new users to this group.",
                duration: 0,
            });
        } else {
            this.canAddUsers = true;
        }
    }

    async refreshListView(): Promise<void> {
        let resp: PaginatedResponse<User>;
        if (this.addingUsers) {
            resp = (await userApi.getUsers(this.search, this.page)).data;

            this.usersAvailable = resp.data.filter(
                (user) => this.usersInGroup.indexOf(user) === -1
            );
        } else {
            resp = (
                await groupApi.getGroupUsers(
                    this.groupId,
                    this.search,
                    this.page
                )
            ).data;
            this.usersInGroup = resp.data;
        }
        this.pagination.pageSize = resp.page_size;
        this.pagination.total = resp.total;
    }

    private async addUsersToGroup() {
        if (this.selectedUsers.length === 0) {
            this.$notification.warning({
                message: "No users selected",
                description: "No users have been added to the group.",
            });
            return;
        }

        if (!confirm("Add selected users to group?")) {
            return;
        }
        const body = {
            user_ids: this.selectedUsers,
        };

        await groupApi.addGroupUsers(this.groupId, body);
        this.$notification.success({
            message: "Success",
            description: "Successfully added users.",
        });
    }

    private async removeUser() {
        if (this.selectedUsers.length === 0) {
            this.$notification.warning({
                message: "No users selected",
                description: "No users have been removed from the group.",
            });
            return;
        }

        if (!confirm("Are you sure you want to remove selected users?")) {
            return;
        }

        const body = {
            user_ids: this.selectedUsers,
        };

        await groupApi.removeGroupUsers(this.groupId, body);
        this.$notification.success({
            message: "Success",
            description: "Successfully removed user(s).",
        });

        this.selectedUsers = [];
        await this.refreshListView();
    }

    private onSelectChange(selectedRowKeys) {
        this.selectedUsers = selectedRowKeys;
    }

    private async addUsersBtn() {
        this.search = "";
        this.page = 1;

        if (this.addingUsers) {
            await this.addUsersToGroup();
        }
        this.addingUsers = !this.addingUsers;
        this.selectedUsers = [];
        await this.refreshListView();
    }

    private async backBtn() {
        this.addingUsers = false;
        await this.refreshListView();
    }

    get users(): User[] {
        if (this.addingUsers) return this.usersAvailable;
        else return this.usersInGroup;
    }

    get header(): string {
        if (this.addingUsers) return `Add users to ${this.groupName}`;
        else return `${this.groupName} Users`;
    }
}
</script>
