<template lang="pug">
a-list-item(:active="false")
    a-list-item-meta
        template(v-slot:title="")
            slot(name="title")
    template(v-slot:actions="")
        a-badge(
            @click="() => (collapse = !collapse)",
            :count="value.en.length || value.nl.length",
            dot=""
        )
            a-icon.action-icon(type="font-size")
            span(v-if="!collapse") {{ $t('action.text.open') }}
            span(v-else="") {{ $t('action.text.close') }}
        span(@click="() => $emit('delete')")
            a-icon.action-icon(type="delete")
            | {{ $t('action.delete') }}
        span(@click="() => $emit('up')")
            a-icon.action-icon(type="up")
            | {{ $t('action.up') }}
        span(@click="() => $emit('down')")
            a-icon.action-icon(type="down")
            | {{ $t('action.down') }}

    a-form(v-if="collapse", :form="form", @submit.prevent="save")
        a-form-item(
            v-bind="formItemLayout",
            :label="$t('form.nl.label')",
            :extra="$t('form.warning')"
        )
            vue-simple-mde(
                v-decorator="['nl', { rules: [{ required: true, message: $t('form.nl.error') }], initialValue: initialValue.nl}]"
            )
        a-form-item(
            v-bind="formItemLayout",
            :label="$t('form.en.label')",
            :extra="$t('form.warning')"
        )
            vue-simple-mde(
                v-decorator="['en', { rules: [{ required: true, message: $t('form.en.error')}], initialValue: initialValue.en}]"
            )
        a-form-item
            a-button-group
                a-button(type="primary", html-type="submit") {{ $t('Save') }}
                a-popconfirm(
                    :title="$t('btn.delete.confirm')",
                    @confirm="reset",
                    v-if="value.en.length || value.nl.length"
                )
                    a-button(type="danger", ghost="") {{ $t('btn.delete') }}
</template>

<style scoped lang="sass">
.action-icon
    margin-right: 8px

h4.ant-list-item-meta-title,
.ant-list-item-meta
    margin-top: 0px
    margin-bottom: 0px

::v-deep .ant-list-item-action
    margin-top: 3px
    margin-bottom: 0px
</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import {
    Alert,
    Badge,
    Button,
    Form,
    Icon,
    Popconfirm,
    List,
} from "ant-design-vue";
import VueSimpleMde from "../common/markdown-editor.vue";
import { validateAntForm } from "../../utils/form";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import { MultilangString } from "../../types/page";

@Component({
    components: {
        "a-list-item": List.Item,
        "a-list-item-meta": List.Item.Meta,
        "a-icon": Icon,
        "a-alert": Alert,
        "a-badge": Badge,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-popconfirm": Popconfirm,
        "vue-simple-mde": VueSimpleMde,
    },
})
export default class EditNewsletterItem extends Vue {
    @Prop({ required: true }) value: MultilangString;
    @Prop({ required: true }) original: MultilangString;

    form: WrappedFormUtils | null = null;
    collapse = false;
    formItemLayout = {
        labelCol: {
            span: 24,
            lg: { span: 4 },
        },
        wrapperCol: {
            span: 24,
            lg: { span: 20 },
        },
    };

    get initialValue(): MultilangString {
        return {
            en: this.value.en || this.original.en,
            nl: this.value.nl || this.original.nl,
        };
    }

    created() {
        this.form = this.$form.createForm(this);
    }

    reset() {
        // Reset the form the original value, but save the empty string.
        this.form!.setFieldsValue({
            en: this.original.en,
            nl: this.original.nl,
        });
        this.$emit("input", { en: "", nl: "" });
        this.$emit("save");
        this.collapse = false;
    }

    async save() {
        let values;
        try {
            values = await validateAntForm(this.form!);
        } catch (e) {
            return false; // Form didn't validate
        }
        this.$emit("input", values);
        this.$emit("save");
        this.collapse = false;
    }
}
</script>
<i18n src="./newsletter.json"></i18n>
