{% extends "base/en.html" %}

{% block title -%}
    {{ tutoring.tutor.name }} has accepted your tutoring request for {{ tutoring.course.name }}.
{%- endblock %}

{% block content -%}
    <p>
        <b>{{ tutoring.tutor.name }}</b> has accepted your tutoring request tutoring for <b>{{ tutoring.course.name }}</b>.
    </p>
    <p>
       You can contact the tutor by sending an e-mail to <a href="mailto:{{tutoring.tutor.email}}">{{tutoring.tutor.email}}</a> or sending a message to {{ tutoring.tutor.phone_nr}}.
    </p>
{%- endblock %}
