<template lang="pug">
a-spin(:spinning="loading")
    h1 {{ $t('Tasks') }}
    table.table.table-hover
        tbody
            template(v-for="group in groupNamesSorted")
                tr
                    td.pimpy-group-head-td(colspan="3")
                        h3 {{ group }}
                        a-empty(
                            v-if="Object.entries(groupUsers[group]).length === 0",
                            :image="emptyImage",
                            :description="$t('No tasks available')"
                        )
                template(v-for="(tasks, userName) in groupUsers[group]")
                    tr(v-if="!self")
                        td.pimpy-user-head-td(colspan="3")
                            h4 {{ userName }}
                    pimpy-task(
                        v-for="task in tasks",
                        :key="taskKey(group, userName, task)",
                        :value="task",
                        @change="onChangeTask"
                    )
</template>

<script lang="ts">
import { Empty, Spin } from "ant-design-vue";
import { Groups } from "../../scripts/api/user";
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import { pimpyApi, Task } from "../../scripts/api/pimpy";
import PimpyTask from "./pimpy_task.vue";

@Component({
    components: {
        "a-spin": Spin,
        "a-empty": Empty,
        "pimpy-task": PimpyTask,
    },
})
export default class PimpyTasks extends Vue {
    @Prop(Array) userGroups: Groups[];
    @Prop() self: boolean;
    @Prop() groupId: number | null;

    groups: { [groupId: string]: Groups } = {};
    groupUsers: {
        [groupId: string]: { [userName: string]: { [b32id: string]: Task } };
    } = {};
    loading = true;

    get emptyImage() {
        // eslint-disable-next-line @typescript-eslint/ban-ts-comment
        // @ts-ignore
        return Empty.PRESENTED_IMAGE_SIMPLE;
    }

    async mounted() {
        await this.load();
        this.loading = false;
    }

    get groupNamesSorted() {
        return Object.keys(this.groupUsers).sort((a, b) => {
            return a.localeCompare(b);
        });
    }

    taskKey(group, userName, task) {
        return `${group}-${userName.replace(/\s*/g, "")}-${task.b32_id}`;
    }

    onChangeTask() {
        this.load();
    }

    @Watch("groupId")
    async watchGroupId() {
        await this.load();
    }

    @Watch("self")
    async watchSelf() {
        await this.load();
    }

    async load() {
        this.loading = true;
        try {
            let resp;
            if (this.self) {
                resp = (await pimpyApi.getTasksForUser()).data;
            } else {
                if (this.groupId) {
                    resp = (await pimpyApi.getTasksForGroup(this.groupId)).data;
                } else {
                    resp = (await pimpyApi.getTasks()).data;
                }
            }
            this.groupUsers = {};

            for (const groupTasks of resp) {
                this.$set(this.groups, groupTasks.group.id, groupTasks.group);
            }
            for (const groupTasks of resp) {
                if (this.groupId && this.groupId !== groupTasks.group.id) {
                    continue;
                }
                // In "self"-mode the name of the users are not shown, we use
                // this to not loop over users.
                if (this.self) {
                    this.groupUsers[groupTasks.group.name] = {
                        self: groupTasks.tasks,
                    };
                    continue;
                }
                this.$set(this.groupUsers, groupTasks.group.name, {});

                for (const task of groupTasks.tasks) {
                    for (const user of task.users) {
                        if (
                            !this.groupUsers[this.groups[task.group_id].name][
                                user
                            ]
                        ) {
                            this.$set(
                                this.groupUsers[
                                    this.groups[task.group_id].name
                                ],
                                user,
                                {}
                            );
                        }
                        this.$set(
                            this.groupUsers[this.groups[task.group_id].name][
                                user
                            ],
                            task.b32_id,
                            task
                        );
                    }
                }
            }
        } finally {
            this.loading = false;
        }
    }
}
</script>

<i18n src="./pimpy_tasks.json"></i18n>
