<template lang="pug">
a-spin(:spinning="loading")
    .row
        .col-xs-12.col-md-4
            h6 {{ $t('Show') }}
            ul.nav.nav-pills
                li.w-50
                    router-link.nav-link(
                        :to="{ name: 'pimpy-minutes', query: groupId ? { group: groupId } : {} }",
                        :class="{ active: type === 'minutes' }"
                    ) {{ $t('Minute') }}
                li.w-50
                    router-link.nav-link(
                        :to="{ name: 'pimpy-tasks', query: groupId ? { group: groupId } : {} }",
                        :class="{ active: type === 'tasks' }"
                    ) {{ $t('Tasks') }}
            template(v-if="type === 'tasks'")
                h6 {{ $t('Owner') }}
                ul.nav.nav-pills
                    li.w-50
                        router-link.nav-link(
                            :to="{ name: 'pimpy-tasks-self', query: groupId ? { group: groupId } : {} }",
                            :class="{ active: self }"
                        ) {{ $t('Myself') }}
                    li.w-50
                        router-link.nav-link(
                            :to="{ name: 'pimpy-tasks', query: groupId ? { group: groupId } : {} }",
                            :class="{ active: !self }"
                        ) {{ $t('All') }}
            h6 {{ $t('Groups') }}
            ul.nav.nav-pills.nav-stacked
                li.w-100
                    router-link.nav-link(
                        :to="{ name: `pimpy-${type}${self ? '-self' : ''}` }",
                        :class="{ active: !groupId }"
                    ) {{ $t('All') }}
                li.w-100(v-for="group in userGroups")
                    router-link.nav-link(
                        :to="{ name: `pimpy-${type}${self ? '-self' : ''}`, query: { group: group.id } }",
                        :class="{ active: group.id === groupId }"
                    ) {{ group.name }}
        .col-xs-12.col-md-8
            .float-right
                a-button-group(style="z-index: 1")
                    router-link.nav-link(
                        :to="{ name: 'pimpy-minute-create', query: groupId ? { group: groupId } : {} }",
                        v-slot="{ href, navigate}"
                    )
                        a-button(
                            :href="href",
                            @click="navigate",
                            :type="type === 'minutes' ? 'primary' : 'default'"
                        )
                            a-icon(type="plus")
                            | {{ $t('Minute') }}
                    router-link.nav-link(
                        :to="{ name: 'pimpy-task-create', query: groupId ? { group: groupId } : {} }",
                        v-slot="{ href, navigate }"
                    )
                        a-button(
                            :href="href",
                            @click="navigate",
                            :type="type === 'tasks' ? 'primary' : 'default'"
                        )
                            a-icon(type="plus")
                            | {{ $t('Task') }}
            router-view(:userGroups="userGroups")
</template>

<script lang="ts">
import { Button, Icon, Spin } from "ant-design-vue";
import { Groups, userApi } from "../../scripts/api/user";
import { Component, Prop, Vue } from "vue-property-decorator";
import Flask from "../../utils/flask";

@Component({
    components: {
        "a-spin": Spin,
        "a-icon": Icon,
        "a-button": Button,
        "a-button-group": Button.Group,
    },
})
export default class PimpyBase extends Vue {
    loading = true;
    @Prop() type: "minutes" | "tasks";
    @Prop() self: boolean;
    @Prop() groupId: number | null;
    userGroups: Groups[] = [];

    async mounted() {
        this.userGroups = (await userApi.getUserGroups(null)).data;
        this.userGroups.sort((a, b) => a.name.localeCompare(b.name));
        this.loading = false;
    }

    get addTaskUrl() {
        return Flask.url_for("pimpy.add_task", { group: this.groupId });
    }
}
</script>

<i18n src="./pimpy_base.json"></i18n>
