<template lang="pug">
tr
    td
        .btn-group
            a#pimpy_task.btn.dropdown-toggle(
                data-toggle="dropdown",
                :class="[statusClass, { loading: isStatusLoading }]"
            )
                span(v-if="isStatusLoading")
                    i.fas.fa-spinner.fa-spin.fa-lg
                span(v-if="!isStatusLoading")
                    | {{ value.b32_id }}
            .dropdown-menu
                a.dropdown-item(
                    v-for="(statusDetail, statusId) in statusDetails",
                    :class="statusDetail.class",
                    @click="setStatus(statusId)"
                )
                    | {{ statusDetail.text }}

    td
        div(@click="collapsed = !collapsed") {{ value.title }}
        div(v-if="!collapsed")
            hr
            em.float-right(v-if="!isStatusLoading") Click to edit
            em.float-right(v-if="isStatusLoading") Updating...
            dl
                dt(@click="focusField('title')") Task
                dd(v-show="!isEditable('title')", @click="focusField('title')") {{ value.title }}
                input(
                    v-show="isEditable('title')",
                    @blur="unfocusField()",
                    @keyup.enter="unfocusField()",
                    v-model="editValues.title",
                    autofocus
                )

                dt(@click="focusField('users')") Users
                dd(v-show="!isEditable('users')", @click="focusField('users')") {{ value.users.join(', ') }}
                input(
                    v-show="isEditable('users')",
                    @blur="unfocusField()",
                    @keyup.enter="unfocusField()",
                    v-model="editValues.users",
                    autofocus
                )

                dt(@click="focusField('content')") Content
                dd(
                    v-show="!isEditable('content')",
                    @click="focusField('content')"
                ) {{ value.content }}
                input(
                    v-show="isEditable('content')",
                    @blur="unfocusField()",
                    @keyup.enter="unfocusField()",
                    v-model="editValues.content",
                    autofocus
                )

                dt Created
                dd {{ value.created | date }}

                router-link(
                    :to="{ name: 'pimpy-minute-single', params: { minuteId: value.minute_id, line: value.line } }",
                    v-if="value.minute_id"
                ) View Minute

    td {{ value.users.join(', ') }}
</template>

<style lang="sass" scoped>
input
    width: 100%

.dropdown-item
    cursor: pointer
</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Flask from "../../utils/flask";
import { pimpyApi, Task } from "../../scripts/api/pimpy";

interface PimpyTaskEditableValues {
    users: string;
    title: string;
    content: string;
}

interface PimpyTaskStatusDetails {
    text: string;
    class: string;
}

@Component({ name: "pimpy-task" })
export default class PimpyTask extends Vue {
    @Prop() value: Task;

    private collapsed = true;
    private isStatusLoading = false;
    private isFieldLoading = false;
    private editField = "";
    private editValues: PimpyTaskEditableValues;

    private statusDetails: Record<
        "new" | "started" | "done" | "remove",
        PimpyTaskStatusDetails
    > = {
        new: {
            text: "Not started",
            class: "bg-info",
        },
        started: {
            text: "Started",
            class: "bg-warning",
        },
        done: {
            text: "Done",
            class: "bg-success",
        },
        remove: {
            text: "Not Done",
            class: "bg-danger",
        },
    };

    public created() {
        this.editValues = {
            title: this.value.title,
            users: this.value.users.join(", "),
            content: this.value.content,
        };
    }

    get statusClass() {
        return this.statusDetails[this.value.status].class;
    }

    get statusText() {
        return this.statusDetails[this.value.status].text;
    }

    get minuteUrl() {
        return Flask.url_for("pimpy.view_minute", {
            minute: this.value.minute_id,
            line_number: this.value.line,
        });
    }

    public isEditable(fieldName) {
        return this.editField === fieldName;
    }

    public focusField(fieldName) {
        this.editField = fieldName;
    }

    public async unfocusField() {
        let requestJson = {};
        if (this.editField === "users") {
            requestJson[this.editField] = this.editValues[this.editField].split(
                ","
            );
        } else {
            requestJson[this.editField] = this.editValues[this.editField];
        }

        try {
            this.isFieldLoading = true;
            const resp = (
                await pimpyApi.updateTask(this.value.b32_id, requestJson)
            ).data;
            this.$emit("change", resp);
        } finally {
            this.isStatusLoading = false;
        }

        this.editField = "";
    }

    public async setStatus(status: string) {
        try {
            this.isStatusLoading = true;
            const resp = (
                await pimpyApi.updateTask(this.value.b32_id, {
                    status: status,
                })
            ).data;

            this.$emit("change", resp);
        } finally {
            this.isStatusLoading = false;
        }
    }
}
</script>
