{% extends "base.htm" %}

{% from "user/macros/signup_nav.htm" import render_signup_nav %}
{% from "macros/form.htm" import render_form %}

{% block title %}{{ _("Membership payment") }}{% endblock %}

{% block page %}
    <div class="row">
        <div class="col">
            {{ render_signup_nav(step=2, with_payment=can_pay) }}

            {% if can_pay %}
                {{ page_text|safe }}

                {{ render_form(pay_form, action=url_for('membership.pay'), submit_text=pay_form_submit_text) }}

            {% else %}
                {{ page_text_fail|safe }}

                <p>
                    {% if is_student_id_not_confirmed %}
                        <b>{{ _("Your student id was not confirmed with UvA login. You can link your UvA account with") }} <a href="{{url_for('saml.link_account')}}">{{ _('this link')}}</a>.</b>
                    {% elif is_already_paid %}
                        <b>{{ _("You've already paid.") }}</b>
                    {% elif is_alumnus %}
                        <b>{{ _("Alumni can't pay membership.") }}</b>
                    {% else %}
                        {% if educations %}
                            {{ _("We found the following programmes:") }}
                            <br>
                            {% for edu in educations %}
                                <b>{{ edu }}</b>
                                {% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                            <br>
                            {{ _("Unfortunately, none of these programmes are associated with via. Please contact the board.") }}
                            <br>
                        {% else %}
                            <b>{{ _("No programmes in the current academic year found for your UvA account.") }}</b>
                            <br>
                            {{ _("If you have registered for a new programme in the next academic year, please check back in August. We are currently working on improving automatic membership payments for new students.")}}
                        {% endif %}

                    {% endif %}
                </p>

            {% endif %}
        </div>
    </div>
{% endblock %}
