<template lang="pug">
loading-container(:active="loading")
    a-breadcrumb
        a-breadcrumb-item
            router-link(
                :to="{ name: 'alv-overview' }",
                v-slot="{ href, navigate}"
            )
                a(:href="href", @click="navigate") {{ $t('Assemblies') }}
        a-breadcrumb-item {{ alvTitle }}
    alv-details-item(v-if="alv", :alv="alv", :parsedAlv="parsedAlv")
</template>

<style lang="sass" scoped></style>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { alvApi, AlvParseMinutes, AlvResponse } from "../../scripts/api/alv";
import { Breadcrumb } from "ant-design-vue";
import LoadingContainer from "../loading_container.vue";
import AlvDetailsItem from "./alv_details_item.vue";

@Component({
    components: {
        "loading-container": LoadingContainer,
        "alv-details-item": AlvDetailsItem,

        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
    },
})
export default class AlvDetailsPage extends Vue {
    loading = true;
    alv: AlvResponse | null = null;
    parsedAlv: AlvParseMinutes | null = null;

    async mounted() {
        const [alvResp, parsedResp] = await Promise.all([
            alvApi.getAlv(this.alvId),
            alvApi.getParsedMinutes(this.alvId).catch((e) => {
                if (e.response.status !== 404) {
                    throw e;
                }
            }),
        ]);

        this.alv = alvResp.data;

        if (parsedResp) {
            this.parsedAlv = parsedResp.data;
        }

        this.loading = false;
    }

    get alvTitle() {
        if (!this.alv) {
            return this.$t("Assembly") as string;
        }

        return this.alv.name[this.$viaduct.locale];
    }

    get alvId() {
        return parseInt(this.$route?.params["alvId"]);
    }
}
</script>

<i18n src="./alv.json"></i18n>
