<template lang="pug">
.document-entry
    a-form(:form="minutesForm", @submit.prevent="saveMinutes")
        a-form-item(v-bind="formItemLayout", :label="$t('Current')")
            a-button-group(v-if="alv.minutes_file_id")
                a-button(type="link")
                    a(:href="alvMinutesUrl") {{ $t('Minutes') }}
            span(v-else) {{ $t('There are no minutes currently uploaded.') }}

        a-form-item(v-bind="formItemLayout", :label="$t('Minutes status')")
            a-radio-group(
                :disabled="!alv.minutes_file_id && minutesFiles.length === 0",
                v-decorator="['minutesStatus', {initialValue: minutesStatus, rules: [{ required: true, message: $t('Please select a status.') }]}]"
            )
                a-radio-button(value="accepted") {{ $t('Accepted') }}
                a-radio-button(value="not_accepted") {{ $t('Not accepted') }}
                a-radio-button(value="unknown") {{ $t('Unknown') }}

        a-form-item(v-bind="formItemLayout", :label="$t('Upload')")
            a-upload(
                :multiple="false",
                :fileList="minutesFiles",
                :beforeUpload="() => false",
                @change="handleUploadMinutesChange",
                v-decorator=['file']
            )
                a-button
                    a-icon(type="upload")
                    | {{ $t('Click or drag to upload') }}

        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                a-button(
                    type="primary",
                    html-type="submit",
                    :loading="submittingMinutes",
                    :disabled="!alv.minutes_file_id && minutesFiles.length === 0"
                ) {{ $t('Save') }}
</template>

<style lang="sass" scoped>
.document-entry
    border: 1px solid #e8e8e8
    margin: 1em 0
    padding: 1em 1em 0 1em
</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Flask from "../../utils/flask";
import { alvApi, AlvResponse } from "../../scripts/api/alv";
import { Button, Upload, Form, Menu, Icon, Radio } from "ant-design-vue";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import { validateAntForm } from "../../utils/form";
import { MinutesAccepted } from "../../types/alv";

@Component({
    components: {
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-upload": Upload,
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-menu": Menu,
        "a-menu-item": Menu.Item,
        "a-icon": Icon,
        "a-radio-group": Radio.Group,
        "a-radio-button": Radio.Button,
    },
})
export default class EditAlvMinutes extends Vue {
    @Prop({ required: true }) alv: AlvResponse;

    formItemLayout = {
        labelCol: {
            span: 24,
            lg: { span: 4 },
        },
        wrapperCol: {
            span: 24,
            lg: { span: 20 },
        },
    };

    submittingMinutes = false;
    minutesForm?: WrappedFormUtils;
    minutesFiles: File[] = [];

    created() {
        this.minutesForm = this.$form.createForm(this);
    }

    get minutesStatus(): MinutesAccepted {
        if (!this.alv) {
            return "unknown";
        }

        if (typeof this.alv["minutes_accepted"] === "boolean") {
            return this.alv["minutes_accepted"] ? "accepted" : "not_accepted";
        } else {
            return "unknown";
        }
    }

    private minutesStatusToBool(status: MinutesAccepted): boolean | null {
        if (status === "accepted") {
            return true;
        } else if (status === "not_accepted") {
            return false;
        } else {
            return null;
        }
    }

    async saveMinutes() {
        if (!this.alv?.id) {
            return;
        }

        let values;
        try {
            values = await validateAntForm(this.minutesForm!);
        } catch (e) {
            return; // Form didn't validate
        }

        this.submittingMinutes = true;

        try {
            if (values.file) {
                const formData = new FormData();
                formData.append("file", this.minutesFiles[0]);
                await alvApi.uploadAlvMinutes(this.alv.id, formData);
            }

            const resp = await alvApi.updateAlv(this.alv.id, {
                name: this.alv.name,
                date: this.alv.date,
                minutes_accepted: this.minutesStatusToBool(
                    values.minutesStatus
                ),
            });

            this.alv.minutes_file_id = resp.data["minutes_file_id"];

            this.$notification.success({
                message: "Success",
                description: this.$t("Successfully saved document.") as string,
            });
        } finally {
            this.submittingMinutes = false;
        }
    }

    async handleUploadMinutesChange(ev) {
        // Make sure only one file is shown
        if (ev.file) {
            this.minutesFiles[0] = ev.file;
        }
    }

    private get alvMinutesUrl() {
        return Flask.url_for("alv.view_minutes", { alv: this.alv.id });
    }
}
</script>

<i18n src="./alv.json"></i18n>
