<template lang="pug">
div
    h3 {{ $t('Upload minutes') }}
    p {{ $t('Please upload the full minutes zip file from Overleaf.') }}

    a-form(:form="form", @submit.prevent="save")
        a-form-item(v-bind="formItemLayout", :label="$t('Minutes archive')")
            a-upload(
                :multiple="false",
                :beforeUpload="() => false",
                @change="handleChange"
            )
                a-button
                    a-icon(type="upload")
                    | {{ $t('Click or drag to upload') }}

        a-form-item
            div(v-if="minutesParsing")
                p#parse-title {{ $t('Assembly information') }}
                a-skeleton(active)
            div(v-if="minutesParsed || minutesLoaded")
                p#parse-title {{ $t('Assembly information') }}

                a-alert#parse-alert(
                    v-if="parseErrors.length > 0",
                    :message="$t('Warning')",
                    type="warning",
                    show-icon
                )
                    template(slot="description")
                        p {{ $t('A number of problems have been detected in the minutes:') }}
                        ul
                            li(v-for="error in parseErrors") {{ error }}

                a-descriptions#vote-meta(bordered)
                    a-descriptions-item(:label="$t('Title')") {{ alvMeta.title }}
                    a-descriptions-item(:label="$t('Chairman')") {{ alvMeta.chairman }}
                    a-descriptions-item(:label="$t('Secretary')") {{ alvMeta.secretary }}
                    a-descriptions-item(:label="$t('Start time')") {{ alvMeta.start_time }}
                    a-descriptions-item(:label="$t('End time')") {{ alvMeta.stop_time }}
                    a-descriptions-item(:label="$t('Location')") {{ alvMeta.location }}
                    a-descriptions-item(
                        :label="$t('Present') + ` (${alvMeta.present.length})`"
                    )
                        | {{ alvMeta.present.sort().join(', ') }}
                    a-descriptions-item(
                        :label="$t('Proxies') + ` (${alvMeta.proxies.length})`"
                    )
                        a-empty(
                            v-if="!alvMeta.proxies.length",
                            :description="$t('No proxies')"
                        )

                        ul
                            li(v-for="p in alvMeta.proxies")
                                span {{ p[0] }} → {{ p[1] }}

                a-card#vote-card(
                    v-if="selectedVote",
                    :title="$t('Vote: ') + selectedVote.data.title",
                    :headStyle="{ fontWeight: 'bold', overflow: 'auto', whiteSpace: 'normal' }"
                )
                    a-row(type="flex")
                        a-col#vote-picker(:span="6")
                            a-list#vote-list(:data-source="alvVotes()")
                                template(v-slot:renderItem="item")
                                    a-list-item.vote-list-item(
                                        @click="() => setVoteSelected(item)"
                                    )
                                        | {{ item.data.title }}
                        a-col#vote-content(:span="18")
                            div(
                                v-for="(votes, choice) in selectedVote.data.vote_data"
                            )
                                | {{ choice }}: {{ votes }}

                a-row(type="flex")
                    a-col(:span="12")
                        a-card#agenda-card(:title="$t('Agenda')")
                            ol
                                li(v-for="item in alvSections()")
                                    | {{ item.data.title }}

                    a-col(:span="12")
                        a-card#decision-card(:title="$t('Decisions & tasks')")
                            ul
                                li.decision-item(
                                    v-for="item in alvDecisions()"
                                )
                                    | {{ item.data.decision }}
                                li.task-item(v-for="item in alvTasks()")
                                    | {{ item.data.who }} -- {{ item.data.what }}

        a-form-item
            a-button-group
                a-button(
                    type="primary",
                    html-type="submit",
                    :loading="minutesSubmitting",
                    :disabled="!minutesParsed"
                )
                    | {{ $t('Save') }}
            span.button-hint(v-if="minutesParsed")
                | {{ $t('If the above information looks correct, save it.') }}
</template>

<style lang="sass" scoped>
.button-hint
    margin-left: 1em
    color: gray

#parse-title
    margin-bottom: 1em
    color: rgba(0, 0, 0, 0.85)
    font-weight: bold
    font-size: 18px
    line-height: 1.5

#decision-card
    margin-left: 1em

#parse-alert
    margin-bottom: 1.5em

.decision-item
    color: #966FD6

.task-item
    color: #CC0000


.vote-list-item:hover
    cursor: pointer
    color: #304ba3

.ant-card-head-title
    overflow: auto !important
    white-space: normal !important

#vote-picker
    padding-right: 1.5em
    height: 500px
    overflow: auto

#vote-content
    padding: 1em
    border-left: 1px solid #e8e8e8

#vote-meta
    margin-bottom: 1em

#vote-card
    margin-bottom: 1em
</style>

<script lang="ts">
import { alvApi, AlvResponse } from "../../scripts/api/alv";
import { Component, Prop, Vue } from "vue-property-decorator";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import {
    Button,
    Form,
    Icon,
    Upload,
    Descriptions,
    List,
    Card,
    Row,
    Col,
    Alert,
    Skeleton,
    Empty,
} from "ant-design-vue";
import { AlvEvent, AlvEventData, AlvMetaData } from "../../types/alv";

@Component({
    components: {
        "a-form": Form,
        "a-icon": Icon,
        "a-form-item": Form.Item,
        "a-upload": Upload,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-descriptions": Descriptions,
        "a-descriptions-item": Descriptions.Item,
        "a-list": List,
        "a-list-item": List.Item,
        "a-card": Card,
        "a-row": Row,
        "a-col": Col,
        "a-alert": Alert,
        "a-skeleton": Skeleton,
        "a-empty": Empty,
    },
})
export default class EditALVParseMinutes extends Vue {
    @Prop({ required: true }) alv: AlvResponse;

    form: WrappedFormUtils | null = null;
    formItemLayout = {
        labelCol: {
            span: 24,
            lg: { span: 4 },
        },
        wrapperCol: {
            span: 24,
            lg: { span: 20 },
        },
    };

    alvEvents: AlvEventData[];
    alvMeta: AlvMetaData;
    parseErrors: string[];

    selectedVote: AlvEventData | null = null;

    // Indicates if the minutes have been loaded from database
    minutesLoaded = false;

    // Indicate if the minutes have just been parsed
    minutesParsed = false;

    // Are minutes currently being parsed?
    minutesParsing = false;
    minutesSubmitting = false;

    AlvEvent = AlvEvent;

    alvSections() {
        return this.alvEvents.filter(
            (item) => item.event_type === AlvEvent.Section
        );
    }

    alvTasks() {
        return this.alvEvents.filter(
            (item) => item.event_type === AlvEvent.Task
        );
    }

    alvDecisions() {
        return this.alvEvents.filter(
            (item) => item.event_type === AlvEvent.Decision
        );
    }

    alvVotes() {
        return this.alvEvents.filter(
            (item) => item.event_type === AlvEvent.Vote
        );
    }

    async save() {
        if (!this.minutesParsed) {
            return;
        }

        this.minutesSubmitting = true;

        try {
            await alvApi.updateParsedMinutes(this.alv.id!, {
                meta_data: this.alvMeta,
                events: this.alvEvents,
                errors: this.parseErrors,
            });

            this.$notification.success({
                message: "Success",
                description: this.$t("Data successfully saved.") as string,
            });
        } finally {
            this.minutesSubmitting = false;
        }
    }

    created() {
        this.form = this.$form.createForm(this);
    }

    setVoteSelected(ev: AlvEventData) {
        if (ev.event_type !== AlvEvent.Vote) {
            return;
        }

        this.selectedVote = ev;
    }

    selectFirstVote() {
        const vote = this.alvEvents.find(
            (ev) => ev.event_type === AlvEvent.Vote
        );

        if (vote) {
            this.setVoteSelected(vote);
        }
    }

    async mounted() {
        const saved = await alvApi.getParsedMinutes(this.alv.id!);

        this.alvMeta = saved.data.meta_data;
        this.alvEvents = saved.data.events;
        this.parseErrors = saved.data.errors;

        this.selectFirstVote();
        this.minutesLoaded = true;
    }

    async handleChange(info) {
        if (info.file.status === "removed") {
            this.minutesParsed = false;
            return;
        }

        this.minutesParsing = true;
        this.minutesParsed = false;

        const formData = new FormData();
        formData.append("file", info.file);

        try {
            const parsed = await alvApi.parseAlvMinutes(formData);

            this.alvMeta = parsed.data.meta_data;
            this.alvEvents = parsed.data.events;
            this.parseErrors = parsed.data.errors;

            this.selectFirstVote();

            this.minutesParsed = true;
            this.minutesLoaded = false;
        } finally {
            this.minutesParsing = false;
        }
    }
}
</script>

<i18n src="./alv.json"></i18n>
