<template lang="pug">
.photo.list-item(:style="'background-image: url(' + photo.url + ')'")
</template>

<script lang="ts">
import Vue from "vue";
import * as PhotoTypes from "../../types/photos";
import { Component, Prop } from "vue-property-decorator";

@Component
export default class Photo extends Vue {
    @Prop() photo: PhotoTypes.Photo;
}
</script>

<style lang="scss" scoped>
.photo {
    cursor: pointer;
    height: 280px;
}
</style>
