<template lang="pug">
a-row.item(type="flex", justify="space-between")
    a-col.avatar(:lg="8", :xs="24")
        a-avatar(:size="120", :src="avatarLink")
    a-col(:lg="16", :xs="24")
        h2 {{ user.first_name }} {{ user.last_name }}
        i18n(tag="h6", path="awarded")
            template(v-slot:date="") {{ user.member_of_merit_date | date }}
        .float-right(v-if="user.path")
            i18n(tag="a", path="readmore", :href="`/${user.path}`")
                template(v-slot:name="") {{ user.first_name }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { MemberOfMerit } from "../../scripts/api/user";
import { Avatar, Col, Row } from "ant-design-vue";
import Flask from "../../utils/flask";

@Component({ components: { "a-avatar": Avatar, "a-row": Row, "a-col": Col } })
export default class MemberOfMeritComponent extends Vue {
    @Prop({ required: true }) private user: MemberOfMerit;

    get avatarLink(): string {
        return Flask.url_for("user.view_avatar", { user: this.user.id });
    }
}
</script>

<style lang="sass" scoped>
@import '../../assets/scss/variables/_app.scss'

.item
    min-height: 170px
    padding: 1em
    border: 1px solid #e8e8e8
    border-left: 1em solid $via-blue
    border-radius: $border-radius

.avatar
    display: flex
    align-items: center
    justify-content: center
    margin-left: -0.5em
</style>

<i18n src="./MemberOfMerit.json"></i18n>
