<template lang="pug">
keep-alive
    div
        a-breadcrumb
            a-breadcrumb-item
                a(href="/admin") Admin
            a-breadcrumb-item
                router-link(
                    :to="{ name: 'courses' }",
                    v-slot="{ href, navigate }"
                )
                    a(:href="href", @click="navigate") Course overview
        h1 Course overview

        a-input-search.w-100(
            placeholder="Search course name or datanose code",
            v-model="search"
        )
            template(v-slot:enterButton="")
                router-link(
                    :to="{ name: 'course-create' }",
                    v-slot="{ href, navigate}"
                )
                    a-button(:href="href", @click="navigate", type="link")
                        | Create new course

        a-table.mt-3(
            :columns="columns",
            :rowKey="(record) => record.id",
            :dataSource="data",
            :pagination="pagination",
            :loading="loading",
            :bodyStyle="{ 'overflow-x': 'auto' }",
            @change="handleTableChange"
        )
            template(v-slot:action="record")
                router-link(
                    :to="{ name: 'course-edit', params: { courseId: record.id } }",
                    v-slot="{ href, navigate}",
                    v-if="!record.datanose_code"
                )
                    a-button(type="link", :href="href", @click="navigate") Edit
                span(v-else) Auto-updated
                a-divider(type="vertical")
                a-popconfirm(
                    title="Sure to delete?",
                    @confirm="doDelete(record.id)"
                )
                    a-button(type="link") Delete
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import { Course } from "../../types/examination";
import { VuePaginatedAnt } from "../../utils/VuePaginatedAnt";
import { examinationApi } from "../../scripts/api/examination";
import {
    Breadcrumb,
    Button,
    Divider,
    Input,
    Popconfirm,
    Table,
} from "ant-design-vue";

@Component({
    name: "course-overview",
    components: {
        "a-input-search": Input.Search,
        "a-button": Button,
        "a-table": Table,
        "a-divider": Divider,
        "a-popconfirm": Popconfirm,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
    },
})
export default class CourseOverview extends VuePaginatedAnt {
    data: Course[] = [];
    columns = [
        {
            title: "Course",
            dataIndex: "name",
        },
        {
            title: "Datanose code",
            dataIndex: "datanose_code",
        },
        {
            title: "Action",
            key: "action",
            scopedSlots: { customRender: "action" },
        },
    ];

    async mounted(): Promise<void> {
        await this.refreshListView();
    }

    async activated(): Promise<void> {
        await this.refreshListView();
    }

    async refreshListView(): Promise<void> {
        try {
            this.loading = true;
            const resp = await instance.get(
                Flask.url_for("api.courses", {
                    search: this.search,
                    dn_course_ids: [],
                    page: this.page,
                })
            );

            this.data = resp.data.data;
            this.pagination.pageSize = resp.data.page_size;
            this.pagination.total = resp.data.total;
        } finally {
            this.loading = false;
        }
    }

    private async doDelete(courseId) {
        try {
            this.loading = true;
            await examinationApi.deleteCourse(courseId);
            this.$notification.success({
                message: "Success",
                description: "Course successfully deleted.",
            });
            this.search = "";
            this.refreshListView();
        } finally {
            this.loading = false;
        }
    }
}
</script>
