<template lang="pug">
div
    h1 {{ $t('header') }}
    a-input-search.mb-3(
        placeholder="Search",
        v-model="search",
        :loading="loading"
    )

    a-radio-group(v-model="currentIndex", @change="refreshListView")
        a-radio-button(value="") {{ $t('indices.all') }}
        a-radio-button(
            v-for="index in allIndices",
            :key="index",
            :value="index"
        ) {{ indices[index].description }}

    a-list(
        item-layout="vertical",
        :data-source="results",
        :pagination="{ ...pagination, onChange: (newPage) => (page = newPage) }",
        :loading="loading"
    )
        template(v-slot:header="")
            i18n(path="search.timing", v-if="results.length")
                template(v-slot:entryCount="") {{ pagination.total }}
                template(v-slot:timingTook="") {{ took }}
            i18n(path="search.initial", v-else="")
        template(v-slot:renderItem="item")
            a-list-item
                a-list-item-meta(
                    :description="item._source[$viaduct.locale + '_sub_title']"
                )
                    template(v-slot:title="")
                        a(:href="item._source.url") {{ item._source.nl_title }}
                    template(v-slot:avatar="")
                        a-avatar(
                            style="color: rgba(0, 0, 0, 0.65); backgroundColor: #fff",
                            :icon="indices[item._source.index].icon"
                        )
                template(v-slot:extra="", v-if="item._source.img_url")
                    img.card-img(:src="item._source.img_url")
                .search-content.p-3(
                    v-html="parseContent(item._source)",
                    v-if="item._source[$viaduct.locale + '_content']"
                )
</template>

<style scoped lang="sass">
img.card-img
    // This is A4 in desktop view, ideal for posters.
    object-fit: cover
    width: 230px
    height: 325px

    @media (max-width: 768px)
        width: 115px
        height: 162px

.search-content
    max-height: 325px
    overflow: hidden
    @media (max-width: 768px)
        max-height: 162px
</style>

<script lang="ts">
import { Component } from "vue-property-decorator";

import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import { searchApi } from "../../scripts/api/search";
import { VuePaginatedAnt } from "../../utils/VuePaginatedAnt";
import { Avatar, List, Input, Radio } from "ant-design-vue";
import LoadingContainer from "../loading_container.vue";
import { Marked, MarkedOptions } from "marked-ts";
import { NoImageMarkdownRenderer } from "../../utils/NoImageMarkdownRenderer";

@Component({
    components: {
        "a-avatar": Avatar,
        "a-list": List,
        "a-list-item": List.Item,
        "a-list-item-meta": List.Item.Meta,
        "a-radio-group": Radio.Group,
        "a-input-search": Input.Search,
        "a-radio-button": Radio.Button,
        "loading-container": LoadingContainer,
    },
})
export default class SearchIndex extends VuePaginatedAnt {
    options = new MarkedOptions();
    results = [];
    took = -1;
    loading = false;
    indices = {
        page: { description: this.$t("indices.page"), icon: "font-size" },
        activity: {
            description: this.$t("indices.activity"),
            icon: "calendar",
        },
        pimpy_minute: {
            description: this.$t("indices.pimpy_minute"),
            icon: "file-zip",
        },
        pimpy_task: {
            description: this.$t("indices.pimpy_task"),
            icon: "ordered-list",
        },
        examination: {
            description: this.$t("indices.examination"),
            icon: "book",
        },
        news: { description: this.$t("indices.news"), icon: "inbox" },
        alv: { description: this.$t("indices.assemblies"), icon: "file-text" },
    };
    allIndices: string[] = [];
    error = false;

    public get currentIndex(): string {
        return (this.$route.query.index as string) || "";
    }

    public set currentIndex(value) {
        if (this.currentIndex !== value) {
            this.page = 1;
            this.$router.replace({
                query: {
                    ...this.$route.query,
                    index: value,
                },
            });
        }

        this.refreshListView();
    }

    parseContent(item) {
        return Marked.parse(
            item[this.$viaduct.locale + "_content"],
            this.options
        );
    }

    async created() {
        this.options.renderer = new NoImageMarkdownRenderer();
        const response = (await searchApi.searchIndices()).data;
        this.allIndices = response.indices;
    }

    async mounted() {
        await this.refreshListView();
    }

    async refreshListView() {
        if (this.search == "") {
            return;
        }
        this.loading = true;

        try {
            const response = await instance.get(
                Flask.url_for("api.search", {
                    query: this.search,
                    index: this.currentIndex,
                    offset: (this.page - 1) * this.pagination.pageSize,
                    limit: this.pagination.pageSize,
                })
            );
            this.took = response.data.took;
            this.results = response.data.hits.hits;
            this.pagination.total = response.data.hits.total;
        } catch (e) {
            this.results = [];
            this.pagination.total = 0;
            this.took = 1337;
        } finally {
            this.loading = false;
        }
    }
}
</script>

<i18n src="./search_index.json"></i18n>
