<template lang="pug">
keep-alive
    div
        a-breadcrumb
            a-breadcrumb-item
                a(href="/admin/") Admin
            a-breadcrumb-item
                router-link(:to="{ name: 'pages' }") Pages
        h1 {{ $t('Page overview') }}
        a-input-search.w-100(placeholder="Search page", v-model="search")
            template(v-slot:enterButton="")
                router-link(
                    :to="{ name: 'create-page' }",
                    v-slot="{ href, navigate}"
                )
                    a-button(:href="href", @click="navigate", type="link")
                        | {{ $t('Create new page') }}
        a-table.mt-3(
            :columns="columns",
            :rowKey="(record) => record.id",
            :dataSource="data",
            :pagination="pagination",
            :loading="loading",
            :bodyStyle="{ 'overflow-x': 'auto' }",
            @change="handleTableChange"
        )
            template(v-slot:action="record")
                a-button(type="link", :href="`/${record.path}`") {{ $t('View') }}
                a-divider(type="vertical")
                a-button(type="link", :href="historyPage(record.id)") {{ $t('History') }}
                a-divider(type="vertical")
                router-link(
                    :to="editPage(record.id)",
                    v-slot="{ href, navigate}"
                )
                    a-button(type="link", :href="href", @click="navigate") {{ $t('Edit') }}
                a-divider(type="vertical")
                a-button(type="link", v-if="!!record.deleted", disabled) {{ $t('Delete') }}
                a-popconfirm(
                    v-else,
                    title="Sure to delete?",
                    @confirm="deletePage(record)"
                )
                    a-button(type="link") {{ $t('Delete') }}
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import { Page } from "../../types/page";
import { VuePaginatedAnt } from "../../utils/VuePaginatedAnt";
import { pageApi } from "../../scripts/api/page";
import {
    Button,
    Breadcrumb,
    Divider,
    Input,
    Table,
    Popconfirm,
} from "ant-design-vue";

@Component({
    components: {
        "a-input-search": Input.Search,
        "a-table": Table,
        "a-button": Button,
        "a-divider": Divider,
        "a-popconfirm": Popconfirm,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
    },
})
export default class PageOverview extends VuePaginatedAnt {
    private data: Page[] = [];
    private columns = [
        {
            title: this.$t("Path"),
            dataIndex: "path",
        },
        {
            title: this.$t("Type"),
            dataIndex: "type",
        },
        {
            title: this.$t("Action"),
            key: "action",
            scopedSlots: { customRender: "action" },
        },
    ];

    async mounted() {
        await this.refreshListView();
    }

    async activated() {
        await this.refreshListView();
    }

    async refreshListView() {
        try {
            this.loading = true;
            const resp = (await pageApi.findPages(this.search, this.page)).data;

            this.data = resp.data;
            this.pagination.pageSize = resp.page_size;
            this.pagination.total = resp.total;
        } catch (e) {
            console.log(e);
        } finally {
            this.loading = false;
        }
    }

    private historyPage(page_id: number) {
        return Flask.url_for("page.get_page_history", { page_id: page_id });
    }

    private editPage(page_id: number) {
        return Flask.url_for("pages.view", { page: page_id });
    }

    private async deletePage(page: Page) {
        try {
            await instance.delete(Flask.url_for("api.page", { page: page.id }));
            page.deleted = new Date().toISOString();
        } catch (e) {
            console.log(e);
        }
    }
}
</script>

<style lang="sass">
.table-row-deleted
    opacity: 0.3
    text-decoration: line-through
</style>

<i18n src="./page_overview.json"></i18n>
