{% extends "base.htm" %}

{% block page %}
<div class="row">
    {% include 'navigation/view_sidebar.htm' %}

    <div class="col-md-10">
        {% include 'navigation/view_backtrack.htm' %}

        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}
